# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_qXSR7hCdEvr3@ep-super-salad-anrm8bvg-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DB_SSL=true

# JWT Configuration
JWT_SECRET=my_super_secret_key
JWT_EXPIRE=7d

# Frontend URL
CLIENT_URL=http://localhost:3000
postgresql://neondb_owner:npg_qXSR7hCdEvr3@ep-super-salad-anrm8bvg.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require